.containerMenu {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 320px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 960px) {
    max-width: 960px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }

  @media screen and (min-width: 2560px) {
    max-width: 1700px;
  }
}

.itemCard {
  width: 290px;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-bottom: 15px;
  list-style: none;
  border: 1px solid rgb(228, 226, 226);
  @media screen and (min-width: 768px) {
    width: 320px;
    margin-right: 25px;
    margin-left: 25px;
  }
  &:hover {
    background-color: rgb(235, 231, 231);
  }
}

.link {
  text-decoration: none;
  color: #000;
}

button {
  height: 25px;
  background-color: rgb(227, 238, 245);
  cursor: pointer;
  margin-left: 10px;
}
