.wrapper {
  width: 290px;
  text-decoration: none;
}

.imgWrap {
  width: 290px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 320px;
    height: 320px;
  }
}

p {
  padding-left: 10px;
}

.img {
  width: 100%;
  height: auto;
}

.price {
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(158, 219, 243);
}
