.select {
  width: 140px;
  height: 40px;
  margin: 0 auto;
  margin-right: 20px;
  font-size: 20px;
  line-height: 40px;
}

.options {
font-size: 20px; 
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 290px;
  @media screen and (min-width:768px){
    max-width: 400px;
  }
}

.selectWrap {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.category {
  display: block;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}